head
    meta(charset="utf-8")
    meta(name="description" content="SLU or Students League Ultimate it`s international league ultimate which included different university teams from all of the world.")
    title Students League Ultimate
    link(rel="icon" href="/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,100,500,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href='css/animate.min.css')
    link(rel="stylesheet" href='css/bootstrap.min.css')
    link(rel="stylesheet" href='css/leaflet.css')
    link(rel="stylesheet" href='css/main.css')