// preloader begin
.preloader
    .loader
// preloader end
// header begin
.container-fluid#home
    .row
        .header.parallax-bg(data-parrallax="-0.3")
            .black
            .nav-bg
            .container-fluid
                .logo.parallax-top(data-parrallax="-0.35")
                    img(src="img/logo-big.png" alt="")
                    h1 International <span>S</span>tudents <span>L</span>eague <span>U</span>ltimate
            .nav-wrap.container-fluid
                .social.clearfix
                    li
                        a.vk(href="http://vk.com/y.spodenyuk")
                    li
                        a.fb(href="https://www.facebook.com/profile.php?id=100005981117222")
                    li
                        a.me(href="mailto:yura_spodenyuk@mail.ru")
                .navbar-collapse.collapse
                    .ro
                        ul.nav.navbar-nav
                            li
                                a.scroll-to(href="#home") Home
                                .line
                            li
                                a.scroll-to(href="#about") About
                                .line
                            li
                                a.scroll-to(href="#universities") Universities
                                .line
                            li
                                a.scroll-to(href="#partners") Partners
                                .line
                        button.navbar-toggle.collapsed(type="button" data-toggle="collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
// header end