// add javascript
script(src='/libs/jquery/jquery-2.1.4.min.js')
script(src='/libs/scroller/plugins-scroll.min.js')
script(src='/libs/jquery/waypoint.js')
script(src='/libs/bootstrap/bootstrap.min.js')
script(src='/libs/scroll2id/jquery.malihu.PageScroll2id.min.js')
script(src='/libs/leaflet/leaflet.js')
script(src='https://cdn.firebase.com/js/client/2.3.2/firebase.js')
script(src='/js/common.js')